[submodule "CONFIG"]
	path = CONFIG
	url = git@github.com:h-beeen/vaccgom_config.git
[submodule "CRAWLING_API"]
	path = CRAWLING_API
	url = git@github.com:goormthon-Univ/2024_BEOTKKOTTHON_TEAM_4_VACAPI.git
